@use "media-query" as *;

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  /*
  border: 1px solid black;
  */
}

:root {
  --back-blue: #daeffd;
  --section-blue: #fdfeff;
  --hover-blue: #edf6fd;
  --text-black: #121118;
  --text-gray: #898898;
  --text-red: #be3e20;
  --text-blue: #4181e1;
  --separator-gray: #dbdcdd;

  font: 16px "Varela Round", sans-serif;
  @include width-mq("short") { font-size: 12px; }
  background-color: var(--back-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin expand-padding {
  padding: 1rem 4rem;
  @include width-mq("short") { padding-left: 1rem; padding-right: 1rem; }
}