@use "sass:map";

$width-breakpoints: (
  long: 64rem,
  medium: 52rem,
  short: 48rem,
  phone: 44rem,
  tablet-check: 800px,
  grid-check: 640px,
  phone-check: 512px,
);

@mixin width-mq($key) {
  $width: map-get($width-breakpoints, $key);

  @media only screen and (max-width: $width) {
    @content;
  }
}