@use "globals" as *;
@use "media-query" as *;

.header {
  width: 100vw;
  max-width: 1600px;
  height: 8rem;

  @include expand-padding;
  padding-bottom: 0;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 2rem;
  @include width-mq("short") { column-gap: 1rem; }
  row-gap: 1rem;

  &__section {
    height: 3rem;

    &--banner {
      flex-basis: 100%;

      display: flex;
      align-items: center;
      gap: 1rem;
      @include width-mq("phone") { gap: 0; }
      
      &__title {
        font-size: 1.5rem;
        padding-left: 0.5rem;
      }
      &__code {
        margin-left: auto;
        text-decoration: underline;

        &:hover { color: var(--text-blue); }
        transition: color 0.2s;
      }
    }
    &--info {
      display: flex;
      place-content: center;
      align-items: center;

      &__place { font-size: 1.25rem; }
    }
    &--search {
      flex: 1;

      z-index: 10;
      width: 100%;
      max-width: 40rem;
      height: fit-content;
      background-color: var(--section-blue);
      border-radius: 0.5rem;
      padding: 0 0.5rem;

      display: flex;
      flex-direction: column;

      &__row {
        flex: 1;
        display: flex;
        align-items: center;

        &__input {
          width: 100%;
          height: 2rem;
          padding: 0 0.5rem;
          border-radius: 0.5rem;
          font: 1rem "Varela Round", sans-serif;
          color: var(--text-black);
  
          &::placeholder {
            color: var(--text-gray);
            opacity: 1;
          }
          &:focus {
            outline: none;
            border: 1px solid var(--text-blue);
          }
        }
        &__image {
          height: 3rem;
          padding: 0.75rem 0.5rem;
        }
        &__result-box {
          width: 100%;
          background-color: var(--section-blue);
          border-top: 1px solid var(--text-blue);
          padding: 1rem;
          
          display: none;
          flex-direction: column;
          align-items: center;

          &__item {
            width: 100%;
            min-height: 3rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__info {
              color: var(--text-gray);
              font-size: 0.75rem;
            }

            &:hover {
              background-color: var(--hover-blue);
              cursor: pointer;
            }
          }
        }
      }

      &:focus-within {
        box-shadow: 0 0 1px 1px #0002;
      }
      &:focus-within > &__row > &__row__result-box { display: flex; }
    }

    &__image {
      height: 3rem;
      padding: 0.5rem;
      
      &--location {
        background-color: var(--section-blue);
        border-radius: 0.5rem;

        &:hover {
          background-color: var(--hover-blue);
          cursor: pointer;
        }
        transition: background-color, 0.2s;
      }
    }
  }

  @include width-mq("phone") {
    &:focus-within > &__section--info,
    &:focus-within > &__section--location {
      display: none;
    }
  }
}

.main {
  color: var(--text-black);
  
  width: 100vw;
  max-width: 1600px;

  @include expand-padding;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr 20rem;
  gap: 1rem;

  @include width-mq("long") {
    display: flex;
    flex-direction: column;
  }

  &__section {
    background-color: var(--section-blue);
    border-radius: 1rem;
    padding: 2rem;

    display: none;
    flex-direction: column;

    &--current {
      grid-column: 1 / 3;
      grid-row: 1 / 2;

      &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 8rem 2rem 5rem;
        @include width-mq("phone") { grid-template-rows: 8rem 2rem 5rem 5rem; }

        &__condition {
          grid-column: 1 / 3;
          height: 100%;
          padding: 0 1rem;
          margin: 0 auto;
        }
        &__condition-name {
          grid-column: 1 / 3;
          text-align: center;
        }
        &__temperature {
          grid-column: 3 / 5;
          grid-row: 1 / 2;
          margin: auto 1rem;
          
          color: var(--text-red);
          font-size: 4rem;
        }
        &__feels-like {
          grid-column: 3 / 5;
          margin: auto 1rem;
          height: 100%;
          
          &__temp {
            color: var(--text-red);
          }
        }
        &__status {
          height: 100%;
          @include width-mq("phone") { grid-column: span 2;}

          display: flex;
          flex-direction: column;
          place-content: center;
          place-items: center;

          &__image {
            height: 3rem;
          }
          &__value {
            line-height: 1rem;
          }
          &__description {
            line-height: 1rem;
            font-size: 0.8rem;
            color: var(--text-gray);
          }
        }
      }

    }
    &--forecast {
      position: sticky;
      top: 1rem;
      height: fit-content;
      max-height: calc(100vh - 2rem);

      @include width-mq("long") {
        position: static;
        max-height: fit-content;
      }

      grid-column: 3 / 4;
      grid-row: 1 / 3;

      &__list {
        overflow-y: scroll;
        display: grid;
        grid-template-rows: repeat(12, 3fr);
        @include width-mq("long") { grid-template-rows: repeat(6, 3fr); }
        @include width-mq("phone") { grid-template-rows: repeat(12, 3fr); }
        grid-auto-flow: column;
        column-gap: 2rem;

        &__day {
          width: 100%;
          height: 3rem;
          
          display: grid;
          grid-template-columns: 1fr max-content 3rem;
          align-items: center;

          &__temp {
            padding: 0 0.5rem 0 1rem;
            
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            &__max { color: var(--text-red); }
            &__min { color: var(--text-blue); }
          }
          &__image {
            height: 3rem;
            width: 3rem;
          }
        }
      }
    }
    &--details {
      grid-column: 1 / 3;
      grid-row: 2 / 3;

      align-items: center;

      &__grid {
        max-width: 100%;
        overflow-x: scroll;

        background-color: var(--back-blue);
        border: 1px solid var(--back-blue);
        margin-top: 1rem;

        display: grid;
        grid-template-columns: repeat(12, 5.5rem);
        gap: 0 1px;

        &__time {
          text-align: center;
          background-color: white;
          padding: 1rem;
        }
        &__symbol {
          width: 100%;
          background-color: white;
          padding: 0 1rem;
        }
        &__temperature {
          text-align: center;
          color: var(--text-red);
          background-color: white;
          padding: 1rem;
        }
        &__graph {
          grid-column: 1 / 13;

          width: 100%;
          background-color: white;
          border-top: 1px solid var(--back-blue);
        }
        &__percentage {
          text-align: center;
          background-color: var(--back-blue);
          padding: 1rem 1rem 2rem 1rem;
        }
      }
      &__day {
        width: 100%;
        margin-top: 2rem;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem;

        &__status {
          @extend .main__section--current__grid__status;
          &__image { @extend .main__section--current__grid__status__image; }
          &__value { @extend .main__section--current__grid__status__value; }
          &__description { @extend .main__section--current__grid__status__description; }
        }
      }
    }

    &__title {
      width: 100%;
      line-height: 2rem;

      &__button {
        background-color: var(--back-blue);
        padding: 0.5rem 0.7rem 0.3rem 0.7rem;
        border-radius: 0.5rem;

        &__image { height: 1rem; }
        
        &:hover {
          cursor: pointer;
          background-color: var(--hover-blue);
        }
        transition: background-color, 0.2s;

        &:disabled {
          cursor: not-allowed;
          background-color: var(--hover-blue);
        }
        
        &:first-of-type {
          margin-left: 0.5rem;
        }
      }
      &__day {
        display: inline-block;
        text-align: center;
        width: 5.5rem;
      }
    }
  }
}

.footer {
  color: var(--text-black);
  
  width: 100vw;
  max-width: 1600px;
  
  @include expand-padding;
  margin: 0 auto 1rem;

  line-height: 2rem;

  &__link {
    text-decoration: underline;

    &:hover { color: var(--text-blue); }
    transition: color, 0.2s;
  }
}